@import "../assets/@theme/styles/_variables.scss";

.content-container {
  width: 90vw;
  height: calc(90vh - #{$header-height});

  .scrollable-content {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: calc(100vh - #{$header-height});

    overflow: auto;
  }
}
