.dialog-header {
  height: 6.75vh !important;
  font-size: 1.5rem;

  .dialog-headline {
    margin-top: 2rem;
  }
}

.dialog-body {
  font-size: 1rem;
  white-space: pre-line;
}

.dialog-button {
  width: 5.75rem !important;
  height: 2.15rem !important;
  text-transform: none !important;
  font-size: 0.85rem;
}
