.dialog-header {
  height: 6.75vh;
  font-size: 1.5rem;

  .dialog-headline {
    margin-top: 2rem;
  }
}

.dialog-body {
  font-size: 1.15rem;
}

.dialog-button {
  width: 5.25rem;
  height: 2.5rem;
  // font-size: 0.85rem;
}
