@import '../../../assets/@theme/styles/themes';

.pentest-table {
  width: calc(78vw - 18%);

  .pentest-cell {
    // Add style here
  }

  .pentest-cell:hover {
    cursor: pointer;
    background-color: nb-theme(color-basic-transparent-focus);
  }
}
