@import '../../../assets/@theme/styles/themes';

.pentest-table {
  // width: calc(78vw - 18%);
  // width: 100%;
  // width: calc(100% - 20rem);
  margin-right: 2rem;
  padding-right: 2rem;

  .pentest-cell {
    // Add style here
  }

  .pentest-cell:hover {
    cursor: pointer;
    background-color: nb-theme(color-basic-transparent-focus);
  }
}
