@import "../../../assets/@theme/styles/_dialog.scss";
@import '../../../assets/@theme/styles/themes';

.project-dialog {
  width: 36rem !important;
  height: 43.5rem;

  .project-dialog-header {
    height: 10vh;
    font-size: 1.5rem;
  }

  nb-form-field {
    padding: 0.5rem 0 0.75rem;
  }

  .label {
    display: block;
    font-size: 0.95rem;
    padding-bottom: 0.5rem;
  }

  .form-field {
    width: 32.75rem;
    // width: 30rem !important;
    margin-bottom: 0.5rem;
  }

  .form-textarea {
    width: 32.75rem !important;
    // width: 30rem !important;
    height: 8rem;
  }

  .form-textarea:disabled {
    width: 32.75rem !important;
    // width: 30rem !important;
    background-color: nb-theme(color-basic-transparent-focus);
    height: 8rem;
  }

  .error-text {
    float: left;
    color: nb-theme(color-danger-default);
  }

  .state-dialog {
    margin-left: auto;
    margin-right: 0;
    // padding: 0.5rem 0 0.75rem;

    .states {
      width: 14rem !important;
    }
  }
}
