@import "../../../assets/@theme/styles/_dialog.scss";
@import '../../../assets/@theme/styles/themes';

.project-dialog {
  width: 25.25rem;
  height: 35rem;

  .project-dialog-header {
    height: 8vh;
    font-size: 1.5rem;
  }

  nb-form-field {
    padding: 0.5rem 0 0.75rem;
  }

  .label {
    display: block;
    font-size: 0.95rem;
    padding-bottom: 0.5rem;
  }

  .form-field {
    width: 18rem;
    margin-bottom: 0.5rem;
  }

  .error-text {
    float: left;
    color: nb-theme(color-danger-default);;
  }
}
