.pentest-header {
  width: calc(100vw - 14%);

  .back-button-container {
    .back-element-icon {
    }
  }

  .export-button-container {
    display: flex;
    align-content: flex-end;
    margin-right: 0.5rem;

    .export-element-icon {
    }

    .export-element-text {
      padding-left: 0.5rem;
      font-size: 0.85rem;
    }
  }
}
