@import '../../../assets/@theme/styles/_text-overflow.scss';

.pentest-header {
  width: 100vw;

  .back-button-container {
    .back-element-icon {
    }
  }

  .header-info {
    position: absolute;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;

    .state-tag {
    }

    .project-title {
      @include multiLineEllipsis($font-size: 1.5rem, $font-weight: bold, $line-height: 2rem, $lines-to-show: 1, $max-width: 36rem);
    }
  }

  .button-container {
    position: absolute;
    right: 2rem;

    .element-icon {
    }

    .element-text {
      padding-left: 0.5rem;
      font-size: 0.85rem;
    }
  }
}
