<div class="pentest-header" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="space-between center">
  <div class="back-button-container">
    <button nbButton
            shape="round"
            title="{{ 'global.action.return' | translate }}"
            (click)="onClickRouteBack()">
      <fa-icon [icon]="fa.faLongArrowAltLeft"
               class="back-element-icon fa-lg"></fa-icon>
    </button>
  </div>

  <h4>{{selectedProject$.getValue().title}}</h4>

  <div class="button-container">
    <nb-actions size="medium">
      <nb-action>
        <button nbButton
                status="button-outline-basic-text-color"
                shape="round"
                (click)="onClickEditPentestProject()">
          <fa-icon [icon]="fa.faEdit"
                   class="element-icon fa-lg"></fa-icon>
          <!--<span class="element-text">{{ 'global.action.edit' | translate }}</span>-->
        </button>
      </nb-action>
      <nb-action>
        <button nbButton hero
                status="info"
                shape="round"
                (click)="onClickExportPentest()">
          <fa-icon [icon]="fa.faFileExport"
                   class="element-icon fa-lg"></fa-icon>
          <span class="element-text">{{ 'global.action.export' | translate }}</span>
        </button>
      </nb-action>
    </nb-actions>
  </div>
</div>
