@import '../../../assets/@theme/styles/themes';
@import '../../../assets/@theme/styles/_variables.scss';

.pentest-overview {
  width: 100vw;
  height: calc(100vh - #{$header-height});
  overflow: hidden;

  .header-column {
    width: 100%;
  }

  .column-wrapper {
    padding-left: 0 !important;

    .categories-column {
      height: calc(100vh - #{$pentest-header-height});
      height: 80vh;
    }
  }

  .table-wrapper{
    padding-right: 0 !important;

    .table-column {
      overflow: auto !important;
      height: 80vh;
    }
  }
}
