@import '../../../assets/@theme/styles/themes';
@import '../../../assets/@theme/styles/_variables.scss';

.pentest-overview {
  width: 100vw;
  height: calc(100vh - #{$header-height});
  overflow: hidden;

  .header-column {
    width: 100%
  }

  .categories-column {
    width: 20%;
    height: calc(100vh - #{$pentest-header-height});
  }

  .table-column {
    overflow: auto !important;
    width: 80%;
    height: 80vh;
  }
}
