@import '../../../../assets/@theme/styles/themes';

.password-form {
  padding-top: 1.5rem;

  .password-form-field {
    width: 20rem !important;

    .label {
      display: block;
      font-size: 0.95rem;
      padding-bottom: 0.5rem;
    }

    .form-field {
      margin-bottom: 0.5rem;
    }

    .form-field:disabled {
      background-color: nb-theme(color-basic-transparent-focus);
    }

    .form-field-button {
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }

  .error-text {
    float: left;
    color: nb-theme(color-danger-default);
  }
}
