
@import '~@nebular/theme/styles/global/breakpoints';
@import "../../assets/@theme/styles/_variables.scss";

@mixin nb-overrides {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    width: auto;

    .logo-container {
      font-style: oblique;
      color: #e74c3c;
    }

    nb-action {
      height: auto;
      display: flex;
      align-content: center;
    }

    .toggle-theme {
      align-content: flex-end;
      display: flex;
    }
  }
}
