@import '~@nebular/theme/styles/global/breakpoints';
@import "../../assets/@theme/styles/_variables.scss";

.header {
  flex: 1;

  .filler {
    flex-grow: 1;
  }

  .owasp-redirect-button {
    margin-left: 0.5rem;
  }

  .languageContainer {
    display: flex;
    max-width: 8rem;
    min-width: 8rem;

    .flag {
      object-fit: contain;
    }
  }
}

@mixin nb-overrides {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    width: auto;

    .logo-container {
      font-style: oblique;
      color: #e74c3c;
    }

    nb-action {
      height: auto;
      display: flex;
      align-content: center;
    }

    .toggle-theme {
      align-content: flex-end;
      display: flex;
    }
  }
}
