@import '~@nebular/theme/styles/global/breakpoints';
@import "../../assets/@theme/styles/_variables.scss";

.header {
  flex: 1;

  .filler {
    flex-grow: 1;
  }

  .action-element-icon:hover {
    cursor: pointer;
  }

  .logo-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .owasp-redirect-button {
    margin-left: 0.5rem;
  }

  .user-action {
    // width: 4rem;
    z-index: 10;
    // height: 3rem;
    .user-action-accordion-header {

    }
  }
}

@mixin nb-overrides {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    width: auto;

    nb-action {
      height: auto;
      display: flex;
      align-content: center;
    }

    .toggle-theme {
      align-content: flex-end;
      display: flex;
    }
  }
}
