<ng-container [ngSwitch]="currentStatus">
  <nb-tag-list>
    <nb-tag *ngSwitchCase="status.PAUSED" status="info" appearance="filled"
            text="{{getTranslationKey() | translate}}"></nb-tag>
    <nb-tag *ngSwitchCase="status.IN_PROGRESS" status="warning" appearance="filled"
            text=" {{getTranslationKey() | translate}}"></nb-tag>
    <nb-tag *ngSwitchCase="status.COMPLETED" status="success" appearance="filled"
            text="{{getTranslationKey() | translate}}"></nb-tag>
    <nb-tag *ngSwitchDefault status="basic" appearance="filled"
            text="{{getTranslationKey() | translate}}"></nb-tag>
  </nb-tag-list>
</ng-container>
